
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background-color: #fdf9f9;
}

.container {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2rem auto;
    width: 50%;
    max-width: 80%;
    border: #cccc solid 1px;
    padding: 3rem 5rem;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #979797cc;
    text-align: center;
}

.container h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
    background-image: linear-gradient( to bottom,#8a3ab9 0%,#fbad50 100% ) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;

}

.container header {
    margin-bottom: 1rem     ;
}

.container ul{
    margin-left: 3.5rem;
    text-align: left;
}
.container-form {
    display: block;
}

.formulary {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 90%;
}

.input-model {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 2rem;
    border:none;
    border-bottom: #cccc 2px solid;
    padding-left: 0.3rem;
    font-size: 16px;
    width: 90%;
    margin-top: 1.5rem; 

}

.input-model:focus {
    outline: 0;
    padding-left: 0.5rem;
    border-bottom: #ccc solid 2px;
}

.input-model::placeholder {
    background-image: linear-gradient( to bottom,#8a3ab9 0%,#fbad50 100% ) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#button-model {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 2rem auto;
    background-color: transparent;
    background-image:  linear-gradient( to bottom,#8a3ab9 0%,#fbad50 100% ) ;
    box-shadow: 0 0 5px #ccc;
    border: none;
    height: 3rem;
    width: 5rem;
    min-width: 5rem;
    min-height: 2rem;
    border-radius: 15px;
}

.error-text {
    color: red;
    font-size: 12px;
    text-align: left;
}
#button-model:hover {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(60deg, #8a3ab9 0%, #fbad50 100%);
    box-shadow: 0 0 10px #ccc;
    transition: 350ms;
}